*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--fuenteConten);
}

html{
    scroll-behavior:smooth;
}

:root{
    --colorprincipal: #12CDD4;
    --zizetitulosgrandes: 30px;
    --zisetitulospequeños: 24px;
    --zisetexto: 17px;
    --fuente: 'Roboto Slab', serif;
    --fuenteConten: sans-serif;
    --grosorFuente1: 300;
    --grosorFuente2: 400;
    --grosorFuente3: 500;
    --grissuave: #D9D9D9;
    --grisnamesmartphone: #818181;
    --azulclarosuabe: #5ECDE0;
    --blanco: white;
    --blancopuro: #ffffff;
    --lilaclaro: #B4ABEB;
    --amarilloclaro: #E3E084;
    --verdeclaroblanco:  #5EE0B1;
    --sombra: 0, 0, 0, 0.25;
}

/*---conteiner smart zone---*/
.list-smarphone{
    display: grid;
    grid-template-columns: repeat(4, 260px);
    gap: 20px 20px;
    justify-content: center;
    height: 770px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.list-smarphone .cards{
    width: 260px;
    height: 360px;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
}
.list-smarphone .cards .img-smartphone{
    width: 260px;
    height: 260px;
    border-radius: 20px 20px 0px 0px;
}
.list-smarphone .cards .name-smartphone{
    font-size: 21px;
    text-align: center;
    padding: 0;
    color: var(--grisnamesmartphone);
}
.list-smarphone .cards .conteiner-puntuacion{
    display: flex;
    justify-content: flex-end;
    width: 260px;
    height: 40px;
    border-radius: 0 0 20px 20px;
    align-items: center;
}
.list-smarphone .cards .conteiner-puntuacion .antuntuImg{
    width: 35px;
    height: 35px;
}

.list-smarphone .cards .conteiner-puntuacion .rango{
    font-size: 18px;
    padding-bottom: 4px;
}

.list-smarphone .cards .conteiner-puntuacion .fraseAntutu{
    font-size: 15px;
    margin-right: 70px
}

.list-smarphone .cards:hover{
    box-shadow: 4px 4px 4px rgba(0, 0.25, 0, 0.25);
    border-radius: 20px;
}
.list-smarphone .cards:active{
    box-shadow: inset 10px 4px 10px rgba(0, 0, 0, 0.25);
}
.list-smarphone .name-smartphone:hover{
    color: #000000;
}
