*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--fuenteConten);
}
:root{
    --colorprincipal: #12CDD4;
    --zizetitulosgrandes: 30px;
    --zisetitulospequeños: 24px;
    --zisetexto: 17px;
    --fuente: 'Roboto Slab', serif;
    --fuenteConten: sans-serif;
    --grosorFuente1: 300;
    --grosorFuente2: 400;
    --grosorFuente3: 500;
    --grissuave: #D9D9D9;
    --grisnamesmartphone: #818181;
    --azulclarosuabe: #5ECDE0;
    --blanco: white;
    --blancopuro: #ffffff;
    --lilaclaro: #B4ABEB;
    --amarilloclaro: #E3E084;
    --verdeclaroblanco:  #5EE0B1;
    --sombra: 0, 0, 0, 0.25;
}
/*cabecera-desktop*/
header{
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 4px
        rgba(var(--sombra));
}
.cabecera{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
    background-color: var(--blanco);
    align-items: center;
    box-shadow: 0px 4px 4px
        rgba(var(--sombra));
}
.cabecera .section-cabecera .title-principal{
    font-family: var(--fuente);
    font-size: var(--zizetitulosgrandes);
}
.cabecera .section-cabecera .title-principal span {
    font-family: var(--fuente);
    color: var(--colorprincipal);
}
.cabecera .section-pagina .lista-secciones li{
    list-style: none;
    display: inline-block;
    font-size: var(--zisetitulospequeños);
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}
.cabecera .section-login div{
    display: inline-block;
    font-size: var(--zisetitulospequeños);
    cursor: pointer;
}
.cabecera .section-login .sin-style{
    text-decoration: none;
}
.cabecera .section-login div:nth-child(1){
    color: var(--azulclarosuabe);
    margin-right: 10px;
}
.cabecera .section-login div:nth-child(2){
    background-color: var(--grissuave);
    border-radius: 5px;
}

/*----Detail-smatphone----*/

.total-detail{
    display: none;
    position:absolute;
    z-index: 9;
    right: 0;
    padding-top: 60px;
    height: 700px;
    overflow: scroll;
}

.detail-smartphone{
    width: 600px;
    background-color: var(--grissuave);
}

.detail-smartphone .box-smartphone {
    display: flex;
}
.detail-smartphone .box-smartphone .exit{
    width: 50px;
    height: 50px;
}
.detail-smartphone .box-smartphone .photo-smarphone{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    margin-top: 20px;
}
.detail-smartphone .name-smartphone-detail{
    width: 100%;
    font-size: var(--zisetitulospequeños);
    margin: 20px 0 20px 0;
    text-align: center;
}
.total-puntos-user{
    display: flex;
    justify-content: space-around;
    font-size: var(--zisetitulospequeños);
}
.total-puntos-user .puntos div{
    display: inline-block;
}
.detail-smartphone .conteiner-caracteristicas{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 180px);
    justify-content: center;
    grid-gap: 20px 20px;
}

    /*conteiner-caracteristicas*/
.detail-smartphone .conteiner-caracteristicas .caracteristica{
    width: 100px;
    height: 180px;
    background: var(--verdeclaroblanco);
    border-radius: 20px;
    display: grid;
    grid-template-rows: 82px 90px;
    grid-gap: 15px 0;
    justify-items: center;
    margin-top: 10px;
    
}
.detail-smartphone .conteiner-caracteristicas .caracteristica .tipo-carateristica{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.detail-smartphone .conteiner-caracteristicas .caracteristica img{
    margin-top: 5px;
    width: 60px;
    height: 60px;
}
.detail-smartphone .conteiner-caracteristicas .caracteristica span{
    color: var(--blanco);
}
.detail-smartphone .conteiner-caracteristicas .caracteristica .dato-caracteristica{
    text-align: center;
}

   /*comentarios*/
   .comentario-user{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.name-user{
    order: 1;
}
.conteiner-input{
    order: 2;
}
.boton-enviar{
    order: 3;
}
.label-puntos{
    order: 4;
    color: var(--grisnamesmartphone);
}
.dar-puntuacion{
    order: 5;
    border: none;
    border-radius: 50%;
    background-color:var(--amarilloclaro);
    cursor: pointer;
}

.comentario-user .conteiner-input .input-comentario{
    background: #FFFFFF;
    border-radius: 20px;
    border: solid 1px var(--grisnamesmartphone) ;
    width: 400px;
    height: 30px;
}
.comentario-user .boton-enviar{
    border: none;
    background-color: var(--verdeclaroblanco);
    width: 50px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}
            /*otros-comentarios*/
.todos-comentarios{
    
}
.comentario-user-other {
    display: grid;
    grid-template-columns: 90px 400px 60px;
    justify-content: center;
    margin-top: 25px;
}
.comentario-user-other .parrafo{
    text-align: justify;
}
.caja-puntos{
    margin-left: 10px;
}
.caja-puntos div{
    display: inline-block;
}

        /*link tienda*/
.tienda{
    margin-top: 50px;
    width: 600px;
    height: 50px;
    background-color: var(--azulclarosuabe);
    display: flex;
    justify-content: center;
}
.tienda div{
    margin-top: 15px;
}
.tienda div a{
    text-decoration: none;
    font-size: var(--zisetexto);
    color: var(--grisnamesmartphone);
    font-weight: 500;
}
/*..........fin detail-------------------*/
/*-----img-cabecera----*/
.conteiner{
    width: 100%;
}
.img-cabecera{
    width: 100%;
}


/*-------------seccion-Categorias------------*/
.title{
    margin: 50px 0px 50px 0px;
    width: 100%;
    text-align: center;
    font-family: var(--fuenteConten);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #5ECDE0;
}
.box-categorias{
    display: flex;
    justify-content: center;
}
.conteiner-categorias{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-row-gap: 50px;
}
.categoria{
    width: 300px;
    height: 100px;
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 100px 200px;
    cursor: pointer;
}

.img-categoria{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: solid 1px #000000;
}

.name-categoria{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.name-categoria div:nth-child(1){
    width: 160px;
    color: rgb(82, 82, 82);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-left: 10px;
}
.name-categoria div:nth-child(2){
    width: 160px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-left: 10px;
}
 
    /*---contenedor de mostrador de categorias---*/
.contendor-mostrador{
    display: flex;
    justify-content: center;
}

.contendor-mostrador .salida-categoria{
    width: 50px;
    cursor: pointer;
    margin: 0 40px 20px 0;
}
.tipo-categoria-title{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 20px 0;
}

.tipo-categoria-title p{
    margin-left: 100px;
    color: var(--blanco); 
    font-size: var(--zizetitulosgrandes);
}
    /*-----------------------------------------------*/

/*---conteiner smart zone---*/
.conteiner-cards-smartphone{
    display: grid;
    grid-template-columns: repeat(4, 260px);
    gap: 20px 20px;
    justify-content: center;
    height: 770px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.conteiner-cards-smartphone .cards{
    width: 260px;
    height: 360px;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
}
.conteiner-cards-smartphone .cards .img-smartphone{
    width: 260px;
    height: 260px;
    border-radius: 20px 20px 0px 0px;
}
.conteiner-cards-smartphone .cards .name-smartphone{
    font-size: var(--zisetitulospequeños);
    text-align: center;
    color: var(--grisnamesmartphone);
}
.conteiner-cards-smartphone .cards .conteiner-puntuacion{
    position: absolute;
    left: 210px;
    top: 330px;
    
}
.cards{
    background-color: var(--blancopuro);
}

.conteiner-cards-smartphone .cards .conteiner-puntuacion div:nth-child(1){
    display: inline;
}
.conteiner-cards-smartphone .cards:hover{
    box-shadow: 4px 4px 4px rgba(0, 0.25, 0, 0.25);
    border-radius: 20px;
}
.conteiner-cards-smartphone .cards:active{
    box-shadow: inset 10px 4px 10px rgba(0, 0, 0, 0.25);
}
.conteiner-cards-smartphone .name-smartphone:hover{
    color: #000000;
}

/*-------------Footer-----------*/

.conteiner-footer{
    width: 100%;
    height: 190px;
    background: var(--grissuave);
    
}
.content-footer{
    padding-top: 50px;
}

.content-footer div{
    text-align: center;
    color: var(--grisnamesmartphone);
    font-size: var(--zisetitulospequeños);
}
.content-footer div:nth-child(1){
    margin-bottom: 15px;
    cursor: pointer;
}

/*----------------formulario login------------*/
.conteiner-from{
    display: flex;
    justify-content: center;
    margin-top: 6%;
}
.formulario-login{
    width: 500px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: inset 10px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.label-title{
    font-style: normal;
    font-weight: 400;
    font-size: var(--zisetitulospequeños);
    text-align: center;
    color: var(--azulclarosuabe);
}
.input-form{
    
    width: 400px;
    height: 50px;
    background: var(--grissuave);
    border-radius: 20px;
    font-size: var(--zisetitulospequeños);
}
.boton{
    width: 200px;
    height: 60px;
    background: var(--azulclarosuabe);
    border-radius: 20px;
    color: var(--grisnamesmartphone);
    font-size: var(--zisetitulospequeños);
    cursor: pointer;
}
.pregunta{
    color: var(--grisnamesmartphone);
    font-size: var(--zisetitulospequeños);
}
.aqui{
    cursor: pointer;
    color: var(--azulclarosuabe);
    text-align: center;
}
        /*---conteiner-mensaje-Bienvenida---*/
.conteiner-mensaje-Bienvenida{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.conteiner-mensaje-Bienvenida .bienvenida{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 300px 70px  70px;
}
.conteiner-mensaje-Bienvenida .conteiner-img-bienvenida{
    width: 400px;
    display: flex;
    justify-content: center;
}
.conteiner-mensaje-Bienvenida .img-bienvenida{
    width: 300px;
    height: 300px;
    
}
.conteiner-mensaje-Bienvenida .mensaje {
    text-align: center;
    font-size: var(--zisetitulospequeños);
    height: 20px;
}

/*--------------------------------------------*/
.Smart-zone{
   color: var(--grisnamesmartphone); 
}
.separador{
    margin: 80px 0px 80px 0px;
}
.color-fondo{
    background-color: #E3E084;
}
.amarillo-claro{
    color: var(--amarilloclaro);
}
.titulo-pequeño{
    font-size: 20px;
    margin: 10px 0 0 20px;
    padding-top: 10px;
    color: var(--grisnamesmartphone);
}



.encajador{
    width: 1300px;
    border-radius: 50px;
    background-color: #B4ABEB;
    
}

.desactivador{
    display: none;
}

@media (max-width:700px) {
    .cabecera {
       border: none;
    }
    .cabecera .section-pagina{
        display: none;
    }
    .section-cabecera div:nth-child(2){
        display: inline-block;
    }
    .section-cabecera{
        width: 100%;
    }
}
@media(max-width:616px){
    .conteiner-cards-phone .cards-phone{
        width: 250px;
    }
    .conteiner-cards-phone .cards-phone .img-phone{
        width: 250px;
    }
    .datos-phone{
        width: 250px;
    }
}